.git
.github
.vscode
.env
.env.*
*.html
*.json # swagger.json, firestore.indexes.json, firebase.json dışındakileri dahil etmeyin, projenize göre ayarlayın
*.rules # firestore.rules gibi dosyaları hariç tutabilir
bin/
docs/
field.html
firebase.json
firestore.indexes.json
firestore.rules